.leWorks {
  background: url('/assets/Home_section/How_it_woks_bg.svg');
  background-color: #e6fafc;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.underlineMain {
  background: #d7d9e0;
  border-radius: 5px;
  height: 5px;
  width: 22%;
  position: relative;
}
.underline {
  position: absolute;
  height: 5px;
  width: 33.3%;
  /* border-radius: 8px; */
  background-color: #00b8d4;
  transition: left 0.3s ease-in-out;
}
.centeredDiv {
  display: flex;
  justify-content: center;
}
.honey {
  padding: 7rem 0 0 0;
}
.item,
.item_2,
.item_3,
.item_4 {
  width: 110px;
  height: 135px;
  /* background: #7de2ee; */
  background: #32c1d1b5;
  clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);
  transition: opacity 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
}
.itemMain,
.itemMainTwo,
.itemMainThree {
  width: 110px;
  height: 135px;
  cursor: pointer;
  background: #142d82;
  clip-path: polygon(0% 25%, 50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%);

  display: flex;
  justify-content: center;
  align-items: center;
}
.comb_1 {
  display: grid;
  justify-content: center;
  grid-template-columns: 115px 115px 115px 115px 115px 115px 115px;
  margin-bottom: -2.2rem;
}
.comb_2 {
  display: grid;
  justify-content: center;
  grid-template-columns: 115px 115px 115px 115px 115px 115px;
}
.comb_3 {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 115px;
}
.hidden {
  opacity: 0;
  pointer-events: none;
}

@media screen and (max-width: 840px) and (min-width: 640px) {
  .honey {
    padding: 5rem 0 0 0;
  }
  .underlineMain {
    width: 33%;
  }
  .itemNullOne,
  .itemNullTwo {
    width: 85px !important;
    height: 105px !important;
  }
  .item,
  .item_2,
  .item_3,
  .item_4 {
    width: 85px;
    height: 105px;
    padding: 0 !important;
  }
  .itemMain,
  .itemMainTwo,
  .itemMainThree {
    width: 85px;
    height: 105px;
    padding: 0 !important;
  }
  .comb_1 {
    grid-template-columns: 90px 90px 90px 90px 90px 90px 90px;
    margin-bottom: -1.7rem;
  }
  .comb_2 {
    grid-template-columns: 90px 90px 90px 90px 90px 90px;
  }
  .comb_3 {
    grid-template-columns: 90px;
    margin-top: -1.6rem !important;
  }
  .combText {
    font-size: 0.9rem !important;
    line-height: 15px !important;
  }
  .combnum {
    font-size: 1.1rem !important;
  }
  .mainCombnum {
    padding: 0 !important;
    font-size: 1.1rem !important;
  }
}
@media screen and (max-width: 639px) {
  .honey {
    padding: 3rem 0 0 0;
  }
  .underlineMain {
    width: 45%;
  }
  .itemNullOne,
  .itemNullTwo {
    display: none;
  }
  .item,
  .item_2,
  .item_3,
  .item_4 {
    width: 60px;
    height: 95px;
  }
  .itemMain,
  .itemMainTwo,
  .itemMainThree {
    width: 60px;
    height: 95px;
  }
  .comb_1 {
    grid-template-columns: 62px 62px 62px 62px 62px;
    margin-bottom: -1.7rem;
  }
  .comb_2 {
    grid-template-columns: 62px 62px 62px 62px 62px 62px;
  }
  .comb_3 {
    margin-top: -1.6rem !important;
    grid-template-columns: 62px;
  }
  .combText {
    font-size: 0.7rem !important;
    line-height: 10px !important;
  }
  .combnum {
    font-size: 1.1rem !important;
  }
  .mainCombnum {
    padding: 0 !important;
    font-size: 1.1rem !important;
  }
}

.itemNullOne {
  width: 110px;
  height: 135px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><polygon points="50,98 100,75 50,98 0,75 " fill="transparent" stroke="rgba(38,69,175,0.3)" stroke-width="2" stroke-dasharray="2,2" /></svg>');
  background-size: 100% 100%;
}
.itemNullTwo {
  width: 110px;
  height: 135px;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100" height="100"><polygon points="50,2 100,25 50,2 0,25  " fill="transparent" stroke="rgba(38,69,175,0.3)" stroke-width="2" stroke-dasharray="2,2" /></svg>');
  background-size: 100% 100%;
}

.demovideo {
  width: 800px;
  height: 400px;
}

@media (min-width: 100px) and (max-width: 600px) {
  .demovideo {
    width: 400px;
    height: 200px;
  }
}
@media (min-width: 601px) and (max-width: 900px) {
  .demovideo {
    width: 600px;
    height: 350px;
  }
}
